<style>
    .f-info-socials a {
        color: teal;
        font-size: 2rem;  
        margin: 0.5rem 0;
        display: inline-block;
        transition: color 0.3s ease;
    }

    .f-info-socials a:hover {
        color: coral;
        text-decoration: none; 
    }

</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/aakanshimalik" target="_blank" id="github-link">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://instagram.com/aakanshi.art.gallery" target="_blank" id="instagram-link">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/aakanshi-malik-996738298 " target="_blank" id="linkedin-link">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>

        <div class="f-info-brand">&copy; XploreStays Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>

